@model InternshipManagementSystem.Models.ForTeacherViewModel

@if (Model.Contracts.Count != 0)
{
    int contractNo = 0;
    foreach (var c in Model.Contracts)
    {
        contractNo++;
        string idForDiv = "updateContract" + contractNo;
        <div class="tab-content">
            @Html.Partial("_DisplayContract", new InternshipManagementSystem.Models.EditOrAddContractViewModel(c, Model.Classes, null), new ViewDataDictionary { { "contractNo", idForDiv } })

            @{
                var tabContantId = idForDiv + "EditTabContent";
            }
            <div class="panel panel-primary tab-pane fade" id="@tabContantId">
                    @Html.Partial("_EditOrAddContract", new InternshipManagementSystem.Models.EditOrAddContractViewModel(c, Model.Classes, Model.AllCompanies), new ViewDataDictionary { { "editContractNo", idForDiv } })
                </div>
            </div>
    }
}
else
{
    <div class="alert alert-info">You have no contract with any company</div>
}
@if (Model.Classes.Any(c => c.CompanyName == null))
{
<div class="row form-group">
    Want to upload new contract? Click <button id="addNewContractButton" type="button" class="btn btn-primary" data-toggle="collapse" href="#addNewContract"><span class="glyphicon glyphicon-plus"></span></button>
</div>
<div id="addNewContract" class="collapse panel panel-primary">
    @Html.Partial("_EditOrAddContract", new InternshipManagementSystem.Models.EditOrAddContractViewModel(new InternshipManagementSystem.Models.Contract_(), Model.Classes, Model.AllCompanies), new ViewDataDictionary { { "editContractNo", "createContract" } })
</div>
}
