@model InternshipManagementSystem.Models.ForTeacherViewModel
@{
    ViewBag.Title = "ForTeacher";
}
<br />
<br />
<h2>老师</h2>
<div class="container">
    <h3>上传学生信息</h3>
    <hr />
    <div class="container">
        <div id="uploadStudentInfo" class="col-lg-12">
            @Html.Partial("_UploadStudentInfo")
        </div>
    </div>

    <h3>上传合同信息</h3>
    <hr />
    <div class="container" id="contract">
@if (Model.Classes.Count != 0)
{
        @Html.Partial("_Contracts", Model)
}
else
{
    <div class="alert alert-info">
        <strong>您还未上传学生与班级信息。</strong>
    </div>
}
    </div>

@Html.Partial("_TeacherAssessStudents", Model)

    <h3>实习任务</h3>
    <hr />
    <div class="container" id="internshipTasks">
        @if (Model.Classes.Count != 0)
        {
            Html.RenderPartial("_InternshipTasks", Model);
        }
        else
        {
            <div class="alert alert-info">
                <strong>请先上传学生与班级信息</strong>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function MarkNowHandler(isMarkingStudent) {
        $("#submitButtonForMarkingStudent").hide();
        $("#submitButtonForEditStudentsInfo").hide();
        if (isMarkingStudent == false) {
            $("#isMarkingStudent").val(false);
        }
        $(".hiddenButton").show();
    }

    function CancelHandler() {
        $("#submitButtonForMarkingStudent").show();
        $("#submitButtonForEditStudentsInfo").show()
        $(".hiddenButton").hide();
    }

    var StudentMarkEndLoading = function () {
        endLoading("markingStudentButtons");
        $("#cancelButton").click()
    }

    var StudentMarkStartLoading = function () {
        startLoading("markingStudentButtons");
    }

    var ContractSubmitEndLoading = function (divId) {
        endLoading(divId);
        SetDataPicker()
    }

    var ContractSubmitStartLoading = function (divId) {
        divId = divId + "";
        if (divId.slice(-5) == "Modal") {
            $(".overlay").css("position", "fixed");
            $(".modalOverlay").show();
        } else {
            startLoading(divId);
        }
    }

    $(
        function(){
            SetDataPicker();
        }
    );

    function SetDataPicker() {
        $(".datePicker").each(
            function () {
                $("#" + this.id).datepicker("destroy");
                $("#" + this.id).datepicker({ dateFormat: 'yy-mm-dd' });
            }
        )
    }
</script>