@model InternshipManagementSystem.Models.HomePageContentViewModel

@{
    ViewBag.Title = "Home Page";
}
<br>
<br>
<h2>公告</h2>
<hr />
<div class="container">
    @if (Model.HomePageContents.Count != 0)
    {
        foreach (var item in Model.HomePageContents)
        {
            <h3>@item.Title</h3>
            <hr />
            <div class="displayDiv"><p>@item.Content</p></div>
            <br>
        }
    }
</div>