body {
}

.fakeLoader {
    width: 65px;
    height: 65px;
    display: none;
    margin: -29px 0 -32px 0;
}

textarea {
    max-width: 100%;
    margin: 0px;
    height: 408px;
    max-height: 408px;
}

.displayDiv > p {
    white-space: pre-line;
}

.failingAlert, .successAlert {
    display: none;
    height: 33.09px;
}

.hiddenButton {
    display: none;
}

.glyphicon-edit {
    color: white;
}

.glyphicon-remove {
    color: white;
}

.cancelLabel {
    background-color: white;
    color: #428bca;
}

.cancelLabelAnchor:hover {
    text-decoration: none;
}

.modal {
    text-align: center;
}

@media screen {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header {
    background-color: #d9534f;
}

.modal-title {
    color: white;
}

.modal-body {
    padding-bottom: 20px;
}

.close {
    color: white;
}

.modalOverlay {
    display: none;
    background-color: white;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    opacity: 0.6;
    background: #ffffff url('../Picture/loader.gif') no-repeat center center;
}

.overlay {
    opacity: 1;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

.list-group {
    padding-right: 0;
    margin-bottom: 0;
}

.CompanyDatail {
    border: 1px solid #eeeeee;
}

.list-group-item {
    font-size: 20px;
}

    .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

.companiesList {
    padding: 0;
    top: 134px;
    position: fixed;
}

/*position: fixed;
    top: 134px;*/

#CompanyDetail {
    border: 1px solid #dddddd;
}

/*@media screen and (max-width: 767px) {
  .alt-table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }
}*/
