body {
}

.fakeLoader {
    width: 65px;
    height: 65px;
    display: none;
    margin: -29px 0 -32px 0;
}

textarea {
    max-width: 100%;
    margin: 0px;
    height: 408px;
    max-height: 408px;
}

.displayDiv > p{
     white-space: pre-line;
}

.failingAlert{
     display: none;
     height: 33.09px;
}
