@model InternshipManagementSystem.Models.ForCompanyViewModel

@{if (Model.CompanyIntroduction == null)
    {
        <div class="well displayDiv"><p>There is no introduction now. Click "Edit company intro" button to add your company introduction</p></div>
    }
    else {
        <div class="well displayDiv"><p>@Model.CompanyIntroduction</p></div>
    }
}